{% extends "base.html" %}
{% block title %}Program: {{ program.name }}{% endblock %}
{% block content %}
    <h1>Program: {{ program.name }}</h1>
    Description: {{ program.description }}
    <br><br>
    <h2>Announcements: </h2>
    {% for announcement in program.announcements.all|dictsortreversed:"time_sent" %}
        <h3>
            {% if user not in announcement.read_by.all %}
                (new)
            {% endif %}
            {{ announcement.title }}
        </h3>
        {{ announcement.time_sent }}<br>
        <a href="{% url "guardian:view_announcement" announcement_pk=announcement.pk %}">View</a>
    {% endfor %}
{% endblock %}